<%- include('../partials/header') %>

<% if (user) { %>
    <a class="add-new" href="/publications/new">Add a new publication</a>
<% } %>

<% publications.forEach(function(p) { %>
    <a href="/publications/<%= p._id %>"> <%= p.title %></a>
<% }); %>

<%- include('../partials/footer') %>