body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: red;
}

nav {
  background-color: lightblue;
}

li {
  list-style-type: none;
}

#reviews > h4 {
  color: red;
}

h3 {
  color: lightgreen;
}