<%- include('../partials/header') %>

<% if (user) { %>
    <div>
        <a class="add-new" href="/tags/new">Add a new tag</a>
    </div>
<% } %>

<section>
    <% tags.forEach(function(t) { %>
        <a href="/tags/<%= t._id %>"> <%= t.name %><br></a>
    <% }); %>
</section>


<%- include('../partials/footer') %>