<%- include('../partials/header') %>

<form action="/tags" method="POST">
    <input type="text" name="name" placeholder="Tag name">
    <input type="submit" value="Add this tag">
</form>

<%- include('../partials/footer') %>