<%- include('../partials/header') %>

<h1><%= tag.name %></h1>

<ul>
    <%- tag.publications.map(p =>
        `<li>${p.title}</a></li>`)
        .join('') %>
</ul>

<%- include('../partials/footer') %>